{%- import 'stability.j2' as stability -%}

# Event registry

The events registry is the catalog of available Dash0 events.

> [!TIP]
>
> Events can be used as [dashboard annotations](/docs/dash0/dashboards/add-annotations) to correlate deployments and other lifecycle moments with your telemetry data.

| Namespace | Event | Stability |
| --------- | ----- | --------- |
{%- for bundle in ctx %}
{%- for group in bundle.groups | sort(attribute='name') -%}
    {%- set my_file_name = bundle.id | kebab_case ~ ".md#" ~ (group.name | kebab_case) %}
| {{ bundle.id | title_case | acronym if loop.first }} | [{{ group.name }}]({{my_file_name}}) | {{ stability.badge(group.stability, group.deprecated) | trim }} |
{%- endfor %}
{%- endfor %}
